---
import { GoAGrid, GoAPageBlock, GoADivider, GoABlock } from '@abgov/react-components';
import Card from './Card.astro';

const {
  cards,
  links
} = Astro.props;
---

<GoAPageBlock>
  <h1>Service Showcase</h1>
  <GoAGrid minChildWidth="30ch">
    {cards?.map((card) => 
      <Card {...card}></Card>
    )}
  </GoAGrid>
  <GoABlock alignment={"center"} direction={"column"} mt="l">
    {links?.map((link) => 
      <a href={link.href}>{link.display}</a>
    )}
  </GoABlock>
  
  <GoADivider mt="3xl" mb="3xl"></GoADivider> 
</GoAPageBlock>
